body {
background-image: url("age of empires.jfif");
/* background-size: cover; */
background-size: cover;
/* background-repeat: no-repeat; */
}

.row > div {
  padding:10px;
  text-align: center;
}
div > a{
  color: white;
}

.header >div{
  background-color: goldenrod;
  color: white;
  opacity: 75%;
}

img:hover{
  opacity:0.85;
}
